/* For the standard font */
label {
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
/* For the navigation bar */
nav {
  border-bottom: 1px solid #1c1c1c;
  text-align: center;
  height: 44px;
  line-height: 44px;
  background-color: #1c1c1c;
  font-size: 15px;
}
.menu {
  margin: 0 20px;
  background-color: #1c1c1c;
}

.menu a {
  clear: left;
  text-decoration: none;
  color: white;
  margin: 0 20px;
  line-height: 44px;
  background-color: #1c1c1c;
}
label {
  margin: 0 0 0 0px;
  font-size: 24px;
  line-height: 44px;
  display: none;
  width: 26px;
  float: left;
}
#toggle {
  display: none;
}
/* For mobile Devices */
@media only screen and (max-width: 767px) {
  label {
    display: block;
    cursor: pointer;
  }
  nav {
    text-align: left;
    height: auto;
    min-height: 44px;
    line-height: 44px;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
    background-color: #474747;
 }
  .menu a {
    display: block;
    border-bottom: 1px solid #1c1c1c;
    margin: 0;
  }
  #toggle:checked + .menu {
    display: block;
    margin-left: 2px;
  }
  label {
    margin-left: 20px;
  }
  .ContainerHome {
    flex-direction: column;
  }
}

/* For home.html */
.ContainerHome {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #474747;
}
.HomeText1 {
  order: 1;
  background-color: #303030;
  color: #ffffff;

}
.HomeText2 {
  order: 2;
  background-color: #909090;

}
.HomeText3 {
  order: 3;
  background-color: #474747;
}


/* For supreme.html */
.SupremeContainer {
position: fixed;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
}
body {
  background-color: black;
}
.SupremeContainer span {
  text-transform: uppercase;
  display: block;
  background-color: black;
}

.text1 {
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: -40px;
  background: black;
  position: relative;
  animation: text 3s 1;
}

.empty {
  height: 3000px;
  width: 3000px;
  order: 2;
}


@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }

}


/* For Questions.html */
.containerQuestions {
  color: white;
  display: flex;
  justify-content: center;
}
